
extends ../../../templates/master.pug

block content
    h1.title My Forum
    hr
    each user in useraccount
      h3.title Logged in as: #{user.username} [ Account Type : #{user.usertype} ]
      p Categories:
      each category in categorytab
        p #{category.id} - #{category.categoryname}
      hr
      h4.title Add or Edit a Category:
      p * This panel is For Administrators Only. It won't function for normal users.
      a(class="button", href="/add") ADD
      a(class="button", href="/edit") EDIT
      hr
      form(method="POST" action="/home")
          .field
              .label Find a Post Category
              .control
                  input.input(type="text" placeholder="Insert Category Name" name="category")
          input(type="submit" value="Go")
      hr
      a(class="button", href="/login") SIGN OUT
