
extends ../../../templates/master.pug

block content
    h1.title
      a(href='/home') My Forum
    hr
    h3.title Add a Category:
    form(method="POST" action="/add")
        .field
            .control
                input.input(type="text" placeholder="Category Name" name="category")
        input(type="submit" value="Add")
