
extends ../../../templates/master.pug

block content
    h1.title My Forum
    hr
    h3.title Register:
    p All fields are required in order to successfully register
    form(method="POST" action="/register")
        .field
            .control
                input.input(type="text" placeholder="Username" name="username")
        .field
            .control
                input.input(type="password" placeholder="Password" name="password")
        .field
            .control
                input.input(type="password" placeholder="Confirm Password" name="confirm")
        .field
            .control
                input.input(type="text" placeholder="E-mail Address" name="email")
        .field
            .control
                input.input(type="text" placeholder="Birthdate (January 1 2000)" name="bday")
        input(type="submit" value="Register")
        hr
        a(class="button", href="/login") SIGN-IN
