
extends ../../../templates/master.pug

block content
    h1.title
      a(href='/home') My Forum
    hr
    each category in categorytab
      h3.title
        a(href='/posts') #{category.categoryname}
    p Something went wrong, please don't play with the URL.
