
extends ../../../templates/master.pug

block content
    h1.title
      a(href='/home') My Forum
    hr
    each category in categorytab
      h3.title
        a(href='/posts') #{category.categoryname}
    each post in updatepost
      p Post ID (PID): #{post.id}
      br
      form(method="POST" action="/posts/update")
          .field
              .control
                  input.input(type="text" placeholder="Title" name="title" value= post.p_title)
          .field
              .control
                  input.input(type="text" placeholder="Date" name="date" value= post.p_date)
          .field
              .control
                  input.input(type="text" placeholder="Content" name="content" value= post.p_content)
          input(type="submit" value="Update")
